$sidebarClosedWidth: 70px;
$cornerRadius: 30px;

.dashboard {
	width: 100%;
	height: 100%;

	.sideBar {
		
	}

	.mainPanel {
		position: absolute;
		top: 0; right: 0;
		width: calc(100% - #{$sidebarClosedWidth});
		height: 100%;
		background-color: var(--color-background-primary);
		border-radius: $cornerRadius 0 0 $cornerRadius;
		box-shadow: -2px 0 40px rgba(0, 0, 0, .2), -2px 0 40px hsla(0, 0%, 100%, .15);
	}
}