$sidebarClosedWidth: 60px;
$dashbarWidth: 200px;
$cornerRadius: 30px;

.dashboard {
	width: 100%;
	height: 100%;

	* {
		-webkit-font-smoothing: antialiased;
    	-moz-osx-font-smoothing: grayscale;
	}

	.sideBar {
		z-index: 1;
	}

	.mainArea {
		position: absolute;
		top: 0; right: 0;
		width: calc(100% - #{$sidebarClosedWidth});
		height: 100%;
		background-color: var(--color-background-primary);
		border-radius: $cornerRadius 0 0 $cornerRadius;
		overflow: hidden;
		z-index: 2;
		transition: all 0.02s linear;

		&.close {
			width: calc(100%);
			border-radius: 0;
			transition: all 0.02s linear;
		}

		.contentPanel {
			display: flex;
			position: absolute;
			top: 0; right: 0;
			width: calc(100% - #{$dashbarWidth} - 12px);
			height: 100%;
			background-color: var(--color-background-secondary);
			border-radius: $cornerRadius 0 0 $cornerRadius;
			padding-left: 12px;
			overflow: hidden;
			z-index: 3;
			transition: all 0.08s ease-out;

			&.close {
				width: calc(100% - 12px);
				border-radius: 0;
				transition: all 0.08s ease-in;

				.mainPanel .firePanel {
					visibility: unset;
				}
			}

			.mainPanel {
				position: relative;
				width: 100%;
				height: 100%;
				flex-shrink: 1;

				.header {
					position: absolute;
					display: flex;
					width: calc(100% - 18px);
					height: 80px;
					top: 0; left: 0;
					padding: 10px 0 10px 8px;
					align-items: center;
	
					.closeContent {
						display: flex;
						width: 55px;
						height: 55px;
						justify-content: center;
						align-items: center;
						margin-right: 20px;
						cursor: pointer;
						transition: margin-left 0.1s ease-in;
	
						&::after {
							content: '';
							width: 25px;
							height: 25px;
							border-radius: 7px;
							background-color: var(--color-background-primary);
						}
		
						span {
							position: absolute;
							display: inline-block;
							width: inherit;
							height: inherit;
							mask-size: 8px;
							-webkit-mask-size: 8px;
							mask-repeat: no-repeat;
							-webkit-mask-repeat: no-repeat;
							mask-position: center;
							-webkit-mask-position: center;
							margin-left: -1px;
							background: var(--color-content-tertiary);
							opacity: 0.9;
							transition-delay: 0.2s;
				
							&.open {
								margin-left: 1px;
								transform: rotate(-180deg);
								transition-delay: 0.2s;
							}
						}
		
						&:hover {
							opacity: 0.7;
						}
						&:active {
							opacity: 0.5;
						}
					}
	
					.welcomeUser {
						display: flex;
						min-width: 110px;
						justify-content: flex-end;
						padding-right: 20px;
						transition: margin-right 0.1s ease-in;
	
						.notification {
							position: relative;
							width: 40px;
							height: 40px;
							padding: 0 10px;
							cursor: pointer;
	
							.icon {
								display: inline-block;
								width: inherit;
								height: inherit;
								mask-size: 25px;
								-webkit-mask-size: 25px;
								mask-repeat: no-repeat;
								-webkit-mask-repeat: no-repeat;
								mask-position: center;
								-webkit-mask-position: center;
								margin-left: -1px;
								background: var(--color-content-primary);
								opacity: 0.7;

								&.ring {
									animation: ring 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;

									@keyframes ring {
										0%, 100% { 
											-webkit-transform: rotate(0deg); transform: rotate(0deg);
											  -webkit-transform-origin: 50% 0; transform-origin: 50% 0;
										}
										10% {
											  -webkit-transform: rotate(2deg); transform: rotate(2deg);
										}
										20%, 40%, 60% {
											  -webkit-transform: rotate(-4deg); transform: rotate(-4deg);
										}
										30%, 50%, 70% {
											 -webkit-transform: rotate(4deg); transform: rotate(4deg);
										}
										80% {
										  -webkit-transform: rotate(-2deg); transform: rotate(-2deg);
										}
										90% {
											  -webkit-transform: rotate(2deg); transform: rotate(2deg);
										}
									}
								}
							}
	
							.alert {
								position: absolute;
								top: 8px; left: 29px;
								width: 6px;
								height: 6px;
								border: 2px solid var(--color-background-secondary);
								border-radius: 50%;
								background-color: var(--color-brand-primary);
							}
	
							&:hover {
								.icon {
									opacity: 0.9;
								}
							}
							&:active {
								.icon {
									opacity: 0.5;
								}
							}
						}
	
						.profile {
							display: inline-block;
							width: 40px;
							height: 40px;
							border-radius: 50%;
							background-size: cover;
							cursor: pointer;
						}
					}
				}

				.firePanel {

					.new {
						position: absolute;
						bottom: 0; right: 0;
						width: 300px;
						height: 120px;
						margin: 30px;
						border-radius: 20px;
						overflow: hidden;
						background-color: transparent;
						transition: all 0.11s ease 0s, border-radius 0.09s ease 0.02s;
						cursor: pointer;
						user-select: none;

						&.open {
							box-shadow: 0 0 10px rgba(29, 19, 19, 0.04), 0 0 10px hsla(0, 0, 100%, 0.01);
							transition: box-shadow 0.2s ease-in-out;

							.container {
								clip-path: circle(140% at 91.67% 79.19%);
								transition: all 0.2s ease-in-out;
							}
							.fab {
								transform: scale(0);
								transform-origin: 50%;
								transition: all 0.1s ease-in-out;
							}
						}

						.container {
							display: flex;
							flex-direction: column;
							width: 100%;
							height: calc(100% - 20px);
							padding: 10px 0;
							background-color: var(--color-background-primary);
							clip-path: circle(0 at 91.67% 79.19%);
							transition: all 0.15s ease-out;
						}

						.fab {
							position: absolute;
							bottom: 0; right: 0;
							display: inline-block;
							width: 50px;
							height: 50px;
							border-radius: 50%;
							background-color: var(--color-brand-primary);
							transition: all 0.15s ease-in-out 0.05s;
							
							span {
								display: inline-block;
								width: inherit;
								height: inherit;
								mask-size: 20px;
								-webkit-mask-size: 20px;
								mask-repeat: no-repeat;
								-webkit-mask-repeat: no-repeat;
								mask-position: center;
								-webkit-mask-position: center;
								background-color: var(--color-background-primary);
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 860px) {
	.dashboard {
		.mainArea {
			.contentPanel {
				transition: all 0.2s ease-out;
				&.close {
					transition: all 0.2s ease-in;
				}
			}
			.mainPanel {
				.header {
					&.searchFocused {
						width: calc(100%);
						.closeContent {
							margin-left: -65px;
							transition: all 0.1s ease-out;
						}
						.welcomeUser { 
							margin-right: -100px;
							transition: all 0.1s ease-out;
						}
					}
				}
				.firePanel {
					.new {
						width: calc(100% - 12px) !important;
						margin: 12px 12px 12px 12px !important;

						&.open {
							.container {
								clip-path: circle(140% at 88.5% 62.5%) !important;
							}
						}

						.container {
							clip-path: circle(0 at 88.5% 62.5%) !important;
						}
						.fab {
							margin: 20px;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 580px) {
	.dashboard {
		.mainArea {
			.contentPanel {
				width: 50px;
				.mainPanel {
					.firePanel {
						visibility: hidden;
					}
				}
			}
		}
	}
}