$transitionDuration: 0.6s;
$transitionInterpolator: cubic-bezier(0.455, 0.030, 0.515, 0.955);

.loginPage {
	position: absolute;
	top: 0; left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	user-select: none;

	.mainContainer {
		background-color: var(--color-background-primary);
		border-radius: 20px;
		box-shadow: 0 20px 40px rgba(0,0,0,.2), 0 20px 40px hsla(0,0%,100%,.15);
		position: relative;
		overflow: hidden;
		width: 850px;
		height: 520px;
		max-width: 100%;
		min-height: 480px;
		font-family: 'Montserrat', sans-serif;

		* {
			box-sizing: border-box;
		}
		h1 {
			font-weight: bold;
			margin: 0 0 5px 0;

			&.formHeader {
				color: var(--color-brand-primary);
			}
		}
		h2 {
			text-align: center;
		}
		p {
			font-size: 14px;
			font-weight: 100;
			line-height: 20px;
			letter-spacing: 0.5px;
			margin: 20px 0 30px;
		}
		a {
			color: var(--color-content-secondary);
			font-size: 14px;
			text-decoration: none;
			margin: 15px 0;
		}
		span {
			font-size: 12px;
			margin-bottom: 15px;
		}
	
		.formContainer {
			background-color: var(--color-background-primary);
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			padding: 0 50px;
			height: 100%;
			text-align: center;
			position: absolute;
			top: 0;
			transition: all $transitionDuration ease-in-out;
		}
		.signInContainer {
			left: 0;
			width: 58%;
			z-index: 2;
		}
		.signUpContainer {
			left: 0;
			width: 58%;
			opacity: 0;
			z-index: 1;
		}
		.overlayContainer {
			position: absolute;
			top: 0;
			left: 58%;
			width: 42%;
			height: 100%;
			overflow: hidden;
			cursor: pointer;
			z-index: 100;
			transition: all $transitionDuration ease-out;
			animation: slideRightOverlay linear forwards;

			&.animate {
				animation-duration: $transitionDuration;
			}

			&:hover .button{
				transform: translateX(-50%) scale(1.03);
			}
			&:active .button{
				transform: translateX(-50%) scale(0.95);
			}
	
			.overlay {
				background: var(--color-brand-secondary);
				background: -webkit-linear-gradient(to right, var(--color-brand-primary), var(--color-brand-secondary));
				background: linear-gradient(to right, var(--color-brand-primary), var(--color-brand-secondary));
				background-repeat: no-repeat;
				background-size: cover;
				background-position: 0 0;
				color: var(--color-content-primary-light);
				position: relative;
				left: -100%;
				height: 100%;
				width: 200%;
				transform: translateX(0);
				transition: transform $transitionDuration ease-out;
	
				.overlayPanel {
					position: absolute;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					padding: 0 40px;
					text-align: center;
					height: 100%;
					width: 357px;
					margin-top: -20px;
					transition: all $transitionDuration ease-out;
				}
				.overlayLeft {
					transform: translateX(-20%);
					opacity: 0;
				}
				.overlayRight {
					transition-delay: 0.3s;
					right: 0;
					transform: translateX(0);
					opacity: 1;
				}
			}
		}
		
		&.signUp {
			.signInContainer {
				transform: translateX(71%);
			}
			.signUpContainer {
				transform: translateX(71%);
				opacity: 1;
				z-index: 5;
				animation: slideOverlay $transitionDuration;
			}

			.overlayContainer{
				animation: slideLeftOverlay linear forwards;
				&.animate {
					animation-duration: $transitionDuration;
				}
	
				.overlay {
					transform: translateX(50%);
	
					.overlayLeft {
						transition-delay: 0.2s;
						transform: translateX(0);
						opacity: 1;
					}
					.overlayRight {
						transform: translateX(10%);
						opacity: 0;
					}
				}
			}
		}
		@keyframes slideOverlay {
			0%, 49.99% {
				opacity: 0;
				z-index: 1;
			}
			50%, 100% {
				opacity: 1;
				z-index: 5;
			}
		}
		@keyframes slideLeftOverlay {
			0% {
				width: 42%;
				transform: translateX(0%);
			}
			30% {
				width: 55%;
				transform: translateX(-30%);
			}
			70% {
				width: 55%;
				transform: translateX(-100%);
			}
			100% {
				width: 42%;
				transform: translateX(-140%);
			}
		}
		@keyframes slideRightOverlay {
			0% {
				width: 42%;
				transform: translateX(-140%);
			}
			30% {
				width: 55%;
				transform: translateX(-100%);
			}
			70% {
				width: 55%;
				transform: translateX(-30%);
			}
			100% {
				width: 42%;
				transform: translateX(0%);
			}
		}
		
		.socialContainer {
			margin: 20px 0;
		}
		
		.socialContainer a {
			border: 1px solid var(--color-background-tertiary);
			border-radius: 50%;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			margin: 0 5px;
			height: 40px;
			width: 40px;
		}
	}
}