$cornerRadius: 30px;

.optionSheet {
	--optionSheetWidth: 350px;

	position: relative;
	display: flex;
	flex-direction: column;
	width: var(--optionSheetWidth);
	height: 100%;
	min-width: var(--optionSheetWidth);
	border-radius: $cornerRadius 0 0 $cornerRadius;
	overflow: hidden;
	background-color: var(--color-background-primary);
	z-index: 3;
	transition: all 0.05s ease-in;

	&.close {
		margin-right: calc(var(--optionSheetWidth) * -1);
		transition: all 0.035s ease-out;
	}

	.header {
		display: flex;
		width: var(--optionSheetWidth);
		height: 80px;
		margin: 10px 0;
		align-items: center;

		.close {
			display: flex;
			width: 55px;
			height: 55px;
			justify-content: center;
			align-items: center;
			margin-left: 8px;
			margin-right: 20px;
			cursor: pointer;
			transition: margin-left 0.1s ease-in;

			&::after {
				content: '';
				width: 25px;
				height: 25px;
				border-radius: 7px;
				background-color: var(--color-background-tertiary);
			}

			span {
				position: absolute;
				display: inline-block;
				width: inherit;
				height: inherit;
				mask-size: 8px;
				-webkit-mask-size: 8px;
				mask-repeat: no-repeat;
				-webkit-mask-repeat: no-repeat;
				mask-position: center;
				-webkit-mask-position: center;
				margin-left: -1px;
				background: var(--color-content-tertiary);
				opacity: 0.9;
				transition-delay: 0.2s;
				margin-left: 1px;
				transform: rotate(-180deg);
			}

			&:hover {
				opacity: 0.7;
			}
			&:active {
				opacity: 0.5;
			}
		}

		.title {
			font-family: var(--font-family-primary);
			font-size: 26px;
			font-weight: 700;
			margin-left: -10px;
			color: var(--color-content-primary);
			user-select: none;
		}
	}

	.content {
		width: var(--optionSheetWidth);
		flex-grow: 1;
	}
}

@media (max-width: 960px) {
	.optionSheet {
		position: absolute;
		top: 0; right: 0;
		box-shadow: 0 20px 40px rgba(0, 0, 0, .1), 0 20px 40px hsla(0, 0%, 100%, .10);
		transition: all 0.08s ease-in 0.1s;

		&.close {
			transition: all 0.06s ease-out;
		}
	}
}
@media (max-width: 680px) {
	.optionSheet {
		--optionSheetWidth: 100%;
		border-radius: 0 !important;
	}
}