@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

// light theme color variables

$color-background-primary: #FFFFFF;
$color-background-secondary: #F6F5F7;
$color-background-tertiary: #EEEEEE;

$color-brand-primary: #3EA2E7;
$color-brand-secondary: #1f7dbb;

$color-content-primary: #333333;
$color-content-primary-light: #FFFFFF;
$color-content-secondary: #444444;
$color-content-tertiary: #E6E6E6;

// functions
@function stripUnits($number) {
  @return $number / ($number * 0 + 1);
}