@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

// light theme color variables

.app {
	width: 100%;
	height: 100%;
}

.light {
	--color-background-primary: #FFFFFF;
	--color-background-secondary: #F6F5F7;
	--color-background-tertiary: #EEEEEE;
	
	--color-brand-primary: #3EA2E7;
	--color-brand-secondary: #1F7DBB;
	
	--color-content-primary: #333333;
	--color-content-primary-alternate: #FFFFFF;
	--color-content-secondary: #444444;
	--color-content-tertiary: #505050;
	
	--color-alert-success: #5CB85C;
	--color-alert-warning: #F0AD4E;
	--color-alert-error: #D9534F;
}

// functions
@function stripUnits($number) {
  @return $number / ($number * 0 + 1);
}