$pictureSize: 120px;

.profilePanel {
	display: flex;
	flex-direction: column;
	width: inherit;
	height: 100%;
	
	::selection {
		color: var(--color-background-primary);
		background: var(--color-brand-primary);
	}

	.picture {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: $pictureSize;

		span {
			position: absolute;
			display: inline-block;
			width: $pictureSize;
			height: $pictureSize;
			background-size: cover;
			border-radius: 50%;
		}
	}

	.name, .email {
		width: 100%;
		margin-top: 20px;
		font-family: var(--font-family-primary);
		font-size: 22px;
		font-weight: 900;
		text-align: center;
		color: var(--color-content-primary);
	}
	.email {
		font-family: var(--font-family-secondary);
		margin-top: 6px;
		font-size: 14px;
		font-weight: 300;
	}
}