.dashbar {

	--dashbarWidth: 160px;

	position: absolute;
	top: 0; left: 0;
	display: flex;
	flex-direction: column;
	width: 550px;
	height: 100%;
	background-color: var(--color-background-primary);
	padding-left: 20px;
	user-select: none;

	.closeDash {
		display: flex;
		position: absolute;
		width: 55px;
		height: 55px;
		justify-content: center;
		align-items: center;
		margin-top: 23px;
		margin-left: -5px;
		border-radius: 7px;
		cursor: pointer;

		&::after {
			content: '';
			width: 25px;
			height: 25px;
			border-radius: 7px;
			background-color: var(--color-background-tertiary);
		}

		span {
			position: absolute;
			display: inline-block;
			width: inherit;
			height: inherit;
			mask-size: 8px;
			-webkit-mask-size: 8px;
			mask-repeat: no-repeat;
			-webkit-mask-repeat: no-repeat;
			mask-position: center;
			-webkit-mask-position: center;
			margin-left: -1px;
			background: var(--color-content-tertiary);
			transition-delay: 0.05s;

			&.open {
				margin-left: 1px;
				transform: rotate(-180deg);
				transition-delay: 0.05s;
			}
		}

		&:hover {
			opacity: 0.7;
		}
		&:active {
			opacity: 0.5;
		}
	}

	.storageTitle {
		width: var(--dashbarWidth);
		font-family: var(--font-family-primary);
		font-size: 24px;
		margin: 110px 0 0 15px;
		font-weight: 700;
		color: var(--color-content-primary);
	}

	.storageContainer {
		width: var(--dashbarWidth);
		min-height: 75px;
		max-height: 225px;
		overflow-x: hidden;
		overflow-y: scroll;

		margin: 20px 0;
		background:
		linear-gradient(var(--color-background-primary) 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), var(--color-background-primary) 70%) 0 100%, /* Shadows */
		radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0)) 0 100%;
		background-repeat: no-repeat;
		background-color: var(--color-background-primary);
		background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
		background-attachment: local, local, scroll, scroll;

		&::-webkit-scrollbar { 
			width: 0 !important;
		}
	}

	.optionContainer {
		width: var(--dashbarWidth);
	}
}
@media (max-width: 580px) {
	.dashbar {
		--dashbarWidth: calc(100vw - 50px - 60px - 50px);
	}
}