@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,800');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


.app {
	width: 100%;
	height: 100%;

	--color-background-primary: #FFFFFF;
	--color-background-secondary: #f0f3f9;
	--color-background-tertiary: #EEEEEE;

	--color-brand-primary: rgb(var(--color-brand-primary-rgb));
	// --color-brand-primary: #37A0EA;
	--color-brand-secondary: #1F7DBB;
	
	--color-content-primary: #1C4A69;
	--color-content-primary-alternate: #FFFFFF;
	--color-content-secondary: #7290a3;
	--color-content-tertiary: #999999;
	
	--color-alert-success: #5CB85C;
	--color-alert-warning: #F0AD4E;
	--color-alert-error: #D9534F;


	// Font Variables
    --font-family-primary: 'Quicksand', sans-serif;
	--font-family-secondary: 'Montserrat', sans-serif;
	

	// Color Schemes	
	--color-brand-primary-rgb: 62, 162, 231; // Default color scheme
    &.orange {
        --color-brand-primary-rgb: 255, 139, 75;
    }
    &.red {
        --color-brand-primary-rgb: 252, 41, 86;
    }
    &.violet {
        --color-brand-primary-rgb: 127, 108, 218;
    }
    &.green {
        --color-brand-primary-rgb: 65, 177, 155;
    }
}

.dark {
	--color-background-primary: #111111;
	--color-background-secondary: #222222;
	--color-background-tertiary: #333333;
	
	--color-content-primary: #777777;
	--color-content-primary-alternate: #FFFFFF;
	--color-content-secondary: #555555;
	--color-content-tertiary: #555;
	
	--color-alert-success: #5CB85C;
	--color-alert-warning: #F0AD4E;
	--color-alert-error: #D9534F;

	&.green {
		--color-brand-primary: #228564;
		--color-brand-secondary: #12835d;
	}
	&.blue {
		--color-brand-primary: #3EA2E7;
		--color-brand-secondary: #1F7DBB;
	}
}

// functions
@function stripUnits($number) {
  @return $number / ($number * 0 + 1);
}