@import '../../../assets/globals/styles/_variables.scss';

.textInput {
	--inputHeight: 45px;

	position: relative;
	width: 85%;
	height: var(--inputHeight);
	margin: 6px 0;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid transparent;
	
	input {
		width: 100%;
		height: var(--inputHeight);
		background-color: var(--color-background-tertiary);
		box-shadow: inset 0px 11px 0px 10px var(--color-background-tertiary), inset 0px -11px 0px 10px var(--color-background-tertiary);
		border: none;
		color: var(--color-content-primary);
		padding: 12px 10px 12px 12px;
		border: 1px solid transparent;
		border-radius: 5px;
		outline: none;
		font-family: 'Montserrat', sans-serif;
		-webkit-font-smoothing: antialiased;
    	-moz-osx-font-smoothing: grayscale;

		&.icon {
			padding-left: var(--inputHeight);
		}
		&.password {
			padding-right: var(--inputHeight);
		}
		&::placeholder {
			color: var(--color-content-tertiary);
		}
	}

	&:focus {
		background-color: var(--color-background-primary);
		box-shadow: inset 0px 0px 0px 0px var(--color-background-secondary), inset 0px 0px 0px 0px var(--color-background-secondary);
		border: 1px solid var(--color-background-tertiary);
		transition: all 0.2s ease-out;
	}
	&.shake {
		border-color: #ffcbcb;
		transition: border-color 0.2s ease-out;
		animation: shake 0.65s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	}

	.inputIcon {
		display: flex;
		position: absolute;
		top: 0; left: 0;
		width: var(--inputHeight); 
		height: var(--inputHeight);
		justify-content: center;
		align-items: center;

		span {
			position: absolute;
			width: 18px;
			height: 18px;
			margin: 0;
		}
	}

	.eye {
		display: flex;
		position: absolute;
		top: 0; right: 0;
		width: var(--inputHeight); 
		height: var(--inputHeight);
		justify-content: center;
		align-items: center;
		cursor: pointer;

		.eyelid {
			width: 18px;
			height: 13px;
			position: absolute;
			top: 50%;
			margin: 0;
			transition: all 0.2s ease-in;
			transform-origin: top;
		}
		.pupil {
			position: absolute;
			margin: 2px 0;
			width: 10%;
			height: 10%;
			border-radius: 50%;
			border: 1px solid var(--color-brand-secondary);
			opacity: 0;
			transition: all 0s ease-in;
			transition-delay: 0.1s;
		}

		&:active {
			.eyelid {
				transform: rotateX(180deg);
			}
			.pupil {
				opacity: 1;
				transition: all 0.1s ease-in;
				transition-delay: 0.1s;
			}
		}
	}
}

@keyframes shake {
	0%, 100% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	}
	10%, 30%, 50%, 70% {
	  -webkit-transform: translateX(-10px);
			  transform: translateX(-10px);
	}
	20%, 40%, 60% {
	  -webkit-transform: translateX(10px);
			  transform: translateX(10px);
	}
	80% {
	  -webkit-transform: translateX(8px);
			  transform: translateX(8px);
	}
	90% {
	  -webkit-transform: translateX(-8px);
			  transform: translateX(-8px);
	}
}

@media (max-width: 860px) {
	.textInput {
		--inputHeight: 55px;
	}
}