@import '../../../assets/globals/styles/_variables.scss';

.textInput {
	background-color: $color-background-tertiary;
	box-shadow: inset 0px 11px 0px 10px $color-background-tertiary, inset 0px -11px 0px 10px $color-background-tertiary;
	border: none;
	color: $color-content-primary;
	padding: 12px 15px;
	margin: 8px 0;
	width: 80%;
	outline: none;
	border: 1px solid transparent;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	transition: all 0.2s ease-in;

	&:focus {
		background-color: $color-background-primary;
		box-shadow: inset 0px 0px 0px 0px $color-background-secondary, inset 0px 0px 0px 0px $color-background-secondary;
		border: 1px solid $color-background-tertiary;
		transition: all 0.2s ease-out;
	}
}