$transitionDuration: 0.6s;

.button {
	border-radius: 20px;
	border: 1px solid var(--color-brand-primary);
	background: var(--color-brand-primary);
	color: var(--color-content-primary-light);
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 20px;
	outline: none;
	min-width: 180px;
	height: 40px;
	transition: all 100ms ease-in-out;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;

	&:hover {
		color: var(--color-brand-primary);
		font-weight: normal;
		transform: scale(1.03);
		background: transparent;
		transition: all 100ms ease-in-out;
	}
	&:active {
		transform: scale(0.95);
	}

	&.loading {
		min-width: 40px;
		width: 40px;
		background: transparent;
		color: transparent;
		pointer-events: none;
		transition: all 100ms ease-in-out;
		border-width: 2px;
		border-top-color: transparent;
		border-bottom-color: transparent;
		animation: rotate 0.3s linear infinite;
		animation-delay: 0.1s;

		@keyframes rotate {
			0% {
				transform: rotate(0deg) scale(0.7);
		    }
			100% {
			 	transform: rotate(180deg) scale(0.7);
			}
		}
	}

	&.slideButton {
		position: absolute;
		background-color: transparent;
		color: var(--color-content-primary-light);
		border-color: var(--color-content-primary-light);
		left: 50%;
		bottom: 32%;
		padding: 12px 12px;
		width: calc(80% - 120px);
		min-width: 130px;
		overflow: hidden;
		transform: translateX(-50%);

		p {
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			margin: 0;
			font-size: 14px;
			transform: translateY(-50%);
			transition: transform $transitionDuration linear, opacity $transitionDuration*2/3 linear;

			&:nth-child(1) {
				opacity: 1;
				transform: translateY(-50%) translateX(0%);
			}
			&:nth-child(2) {
				opacity: 0;
				transform: translateY(-50%) translateX(-70%);
			}
		}

		&.slideLeft {
			p {
				&:nth-child(1) {
					opacity: 0;
					transform: translateY(-50%) translateX(70%);
				}
				&:nth-child(2) {
					opacity: 1;
					transform: translateY(-50%) translateX(0%);
				}
			}
		}
	}
}